{% extends "base.html" %}

{% block title %}Lista de Libros{% endblock %}

{% block content %}
<h1>Lista de Libros</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Categoría</th>
            <th>Publicado</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.autor }}</td>
            <td>{{ libro.categoria }}</td>
            <td>{{ libro.publicado }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
